{% extends 'layout.html' %}

<!-- Title -->
{% block title %} {{ title }} Todos {% endblock %}

<!-- Content -->
{% block content %}

<div class="my-4">
  <a href="/todos" class="btn {{ "btn-primary" if title == "All" else "btn-secondary" }}">All Todos</a>
  <a href="/todos/completed" class="btn {{ "btn-primary" if title == "Completed" else "btn-secondary" }}">Completed
    Todos</a>
  <a href="/todos/remaining" class="btn {{ "btn-primary" if title == "Remaining" else "btn-secondary" }}">Remaining
    Todos</a>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Task</th>
      <th>Completed</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todos %}

    <tr>
      <td>{{ todo.task }}</td>
      <td>{{ todo.completed }}</td>
      <td>
        <a class="btn btn-info" href="/todos/edit/{{ todo.id }}">Edit</a>
      </td>
      <td>
        <form action="/todos/delete/{{ todo.id }}" method="POST">
          <input name="csrf_token" id="csrf_token" type="hidden" value="{{ csrf_token() }}">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      </td>
    </tr>

    {% endfor %}
  </tbody>
</table>

{% endblock %}