{% extends 'layout.html' %}
{% from "form.helpers.html" import form_field %}

<!-- Title -->
{% block title %} New Todo {% endblock %}

<!-- Content -->
{% block content %}

<form method="post">

  {{ form_field(form.task) }}

  <div class="form-check">
    {{ form.completed(class_='form-check-input') }}
    <label class="form-check-label" for="{{ form.completed.name }}">
      {{ form.completed.label }}
    </label>
  </div>

  <button type="submit" class="btn btn-primary btn-block">Add Todo</button>
</form>

{% endblock %}